
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container col-sm-12">
    <ul class="nav navbar-nav">
      <li><a href="#couple">Couple</a></li>
      <li><a href="#gang">Gang</a></li>
      <li><a href="#event">Event</a></li>
      <li><a href="#venue">Venue</a></li>
      <li><a href="#area">Area</a></li>
      <li><a href="#gifting">Gifting</a></li>
      <li><a href="#rsvp">RSVP</a></li>
    </ul>
  </div>
</nav>


<% if (message.length > 0) { %>
  <div class="alert alert-danger"><%= message %></div>
<% } %>

<section class="row" id="leader">
  <div class="jumbotron">
    <div class="container">
      <h1>Kevin &amp; Emily</h1>
      <span class="subby">are getting married on</span>
      <h2>26th September 2014</h2>
      <span class="subby">at</span>
      <h3>The Crazy Bear, Stadhampton, Oxfordshire</h3>

      <br>
      <a href="#rsvp" class="btn btn-default btn-outline btn-lg"><span class="fa fa-check-square-o"></span> RSVP</a>
    </div>
  </div>
</section>



<section class="row" id="couple">
  <div class="container">
    <div class="col-sm-12">
      <h3>How we met</h3>

      <p>We met at Oxford Brookes University in 2006.</p>

      <p>It's remarkable, really, that alongside the long hours of lectures and copious coursework assignments, we still found several hours a day to play pool together at the student bar. It was meant to be.</p>

      <p>We lived together in Oxford for a further 7 years. In this time we graduated from uni, got jobs, ate a lot and got fat, ran a lot and got thin and watched every TV show Joss Whedon has ever created.  Several times.</p>

      <p>Last year, we took a trip to the Cotswolds Wildlife park.  It rained all day, and so we found ourselves in our waterproofs, sheltering under a tree next to the red pandas. It was here Kevin proposed.  And got a very wet knee for it too.  It became a bit difficult for us to concentrate on the animals for the rest of the day, instead we spent the time eagerly anticipating the phone calls we would get to make when we got home.</p>

      <p>As most of you will know, we are not organised people.  And apparently, planning a wedding takes loads of time and hard work - who knew?  Luckily we've had many friends and family around to encourage us, support us, and basically kick us up the arse.  Huge thanks to you all and we can't wait for you to join us in our celebration.</p>
    </div>
  </div>
</section>



<section class="row" id="gang">
  <div class="container">
    <div class="col-sm-12">
      <h3>Meet the gang</h3>

      <div class="col-md-6">
        <h4>Bridesmaids</h4>
        <p>Abby Harris</p>
        <p>Amy Battrick</p>
        <p>Sarah Carmody</p>
        <p>Shiao-li Green</p>
      </div>

      <div class="col-md-6">
        <h4>Groomsmen</h4>
        <p>Charlie Thomas</p>
        <p>Edward Lucas</p>
        <p>Roland Romata</p>
        <p>Toby Chiang</p>
      </div>
    </div>
  </div>
</section>



<section class="row" id="event">
  <div class="container">
    <div class="col-sm-12">
      <h3>Event Schedule</h3>

      <dl>
        <dt>13:00 - You arrive!</dt>
        <dd>Grab yourself a drink, mingle a bit, relax.</dd>

        <dt>14:00 - Ceremony begins.</dt>
        <dd>This will be a reasonably short secular ceremony.</dd>

        <dt>15:00 - Welcome drinks.</dt>
        <dd>Have another drink while we pose like idiots for the camera.</dd>

        <dt>16:00 - Reception begins.</dt>
        <dd>Enjoy some hog roast and take a seat for a long, drawn out collection of monotonous speeches</dd>

        <dt>19:00 - Party.</dt>
        <dd>This is what we’re here for, right?!
        http://open.spotify.com/user/skinofstars/playlist/1kpjGnKROK9lD15MtTPRYt</dd>

        <dt>01:00 - Fin.</dt>
        <dd>This is where you get kicked out. Hope you booked a taxi.</dd>

      </dl>
    </div>
  </div>
</section>



<section class="row" id="venue">
  <div class="container">
    <div class="col-sm-12">
      <h3>Venue</h3>

      Date
      26th September 2014

      Location &amp; Directions
      Crazy Bear, Stadhampton, Oxfordshire
    </div>
  </div>
</section>



<section class="row" id="area">
  <div class="container">
    <div class="col-sm-12">

      <h3>Nearby hotels</h3>

      <div class="row clearfix">
        <div class="col-md-3">
          <div class="well">
            Coach &amp; Horses Inn<br />
            Watlington Road<br />
            Chislehampton, Oxford OX44 7UX<br />
            01865 890255

          </div>
        </div>

        <div class="col-md-3">
          <div class="well">
            George Hotel Wallingford<br />
            High Street<br />
            Wallingford <br />
            Oxfordshire <br />
            OX10 0BX<br />
            01491 836665
          </div>
        </div>

        <div class="col-md-3">
          <div class="well">
            Holiday Inn<br />
            Grenoble Road<br />
            Oxford<br />
            OX4 4XP<br />
            01865 780888
          </div>
        </div>

        <div class="col-md-3">
          <div class="well">
            Premier Inn<br />
            Cowley roundabout
          </div>
        </div>

        <div class="col-md-3">
          <div class="well">
            Travelodge<br />
            Wheatley
          </div>
        </div>
      </div>
  <!--     </section>

      <section class="row" id="">
   -->
      <div class="row">
        <div class="col-sm-12">
          <h3>Transport</h3>
          <p>The event will all be held at the Crazy Bear, from the ceremony, to the reception, to the party. This means you don’t need to brave the elements or find transport between each part. We’ll even make sure the bar stays open all day!</p>

          <p>You will, however, need to find your transport home. Here are some taxi numbers that should help:</p>

          <div class="col-md-3">
            <div class="well">
              <dl>
                <dt>Taxi company</dt>
                <dd>07XXXXXX</dd>
              </dl>
            </div>
          </div>

          <div class="col-md-3">
            <div class="well">
              <dl>
                <dt>Taxi company</dt>
                <dd>07XXXXXX</dd>
              </dl>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>



<section class="row" id="gifting">
  <div class="container">
    <div class="col-sm-12">
      <h3>Gifting</h3>

      <p>Gifting info</p>
      <p>Money please bank deets</p>
    </div>
  </div>
</section>



<section class="row" id="rsvp" ng-controller="RsvpCtrl">
  <div class="container">

    <div class="col-sm-12">
      <h3>RSVP</h3>

      <p>Confirmation of attendance - please reply by July 4<sup>th</sup> 2014</p>

      <div ng-if="!users">
        <form>
          <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username" ng-model="user.username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="user.password">
          </div>

          <button ng-click="signin(user)" class="btn btn-warning btn-lg">Login</button>
        </form>
      </div>

    </div>

    <div class="col-sm-12" ng-if="users.length > 0">

      <div class="clearfix">
        <form class="clearfix">
          <div ng-repeat="groupy in users">

            <div class="col-sm-6">
              <div class="well">
                <h3>{{ groupy.username }}</h3>
                <p>Updated {{ groupy.updated }}</p>


                  <div class="checkbox" ng-repeat="(key, val) in groupy.invite">
                    <label>
                      <input type="checkbox" name="{{ key }}" ng-checked="groupy.rsvp[key]" ng-model="groupy.rsvp[key]"> Attending {{ key }}?
                    </label>
                  </div>

              </div>
            </div>

          </div>

        </form>
      </div>

      <div class="rsvpactions">
        <button ng-click="update(users)" ng-disabled="form.$invalid || isUnchanged(users)" class="btn btn-warning btn-lg">Update</button>
        <a href="/signout" class="btn btn-default btn-sm">Sign out</a>
      </div>

    </div>

  </div>
</div>
</section>



<section class="row" id="">
  <div class="container">
      We made this :)
  </div>
</section>




