<!doctype html>
<html lang="en" ng-app="Towed">
<head>
  <title>Kevin and Emily - getting married</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">

    <!-- <link rel="stylesheet" href="/vendor/css/font-awesome.min.css"> --> <!-- load fontawesome -->

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link href='//fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

  <link rel="stylesheet" type="text/css" href="main.css">

</head>
<body>


<%- body %>


<script src='//api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<script src="/vendor/js/angular.min.js"></script>
<script src="/vendor/js/angular-resource.min.js"></script>
<script src="/vendor/js/angular-route.min.js"></script>
<script src="application.js"></script>


</body>
</html>
