<div ng-controller="RsvpCtrl" class="container">

  <div class="page-header text-center">
    <h1><span class="fa fa-check-square-o"></span> RSVP</h1>
    <a href="/signout" class="btn btn-default btn-sm">Sign out</a>
  </div>

  <div class="row">

    <form>
      <div ng-repeat="groupy in users">
        <div class="col-sm-6">
        <h3>{{ groupy.username }}</h3>
        <p>Updated {{ groupy.updated }}</p>

          <div ng-repeat="(key, val) in groupy.invite">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="{{ key }}" ng-checked="groupy.rsvp[key]" ng-model="groupy.rsvp[key]"> Attending {{ key }}?
              </label>
            </div>
          </div>
        </div>
      </div>
      <button ng-click="update(users)" ng-disabled="form.$invalid || isUnchanged(users)" class="btn btn-warning btn-sm">Update</button>
    </form>

  </div>
</div> <!-- /end RsvpCtrl -->
