@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(/vendor/fonts/Oleo_Regular.woff) format('woff');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro'), url(/vendor/fonts/Maven_Pro.woff) format('woff');
}


body {
  /*padding-top:40px;*/
  font-family: 'Maven Pro';
  font-size: 250%;
}

h1, h2, h3, h4 {
  font-family: 'Oleo Script';
}

h2, h3 {
  font-size: 200% !important;
}

h4 {
  font-size: 150% !important;
}

h1 {
  font-size: 450% !important;
}

.subby {
  font-size: 150%;
  font-family: 'Oleo Script';
}

section {
  /*height: 85vh;*/
  padding: 80px 0;
  /*width: 95vw;*/
}

.navbar-default {
  background-color: rgba(255,255,255,0.5);
}

.nav a  {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*
  blue 3CB5B5
  orange EC6C20
  yellow FCD920
  pink E53B51
*/

#area .well {
  background-color: #fd7d31;
  border-color: transparent;
}


#leader {
  background-color: #3CB5B5;

}
.branches {
  display: block;
  float: right;
  height: 260px;
  width: 396px;
  background-image: url('branches.png');
}
#leader .well {
  background-color: #2ba4a5;
  border-color: transparent;
}
#couple {
  background-color: #EC6C20;
}
.couple-images {

}
.emily{
  display: block;
  float: right;
  height: 302px;
  width: 127px;
  background: url('emily.png') no-repeat 0 72px;
}
.kevin {
  display: block;
  float: right;
  height: 302px;
  width: 99px;
  background: url('kevin.png') no-repeat;
}

#map {
  height: 400px;
  width: 100%;
}

dt {
  padding-top: 20px;
}

#thanks {
  background-color: #E53B51;
}
#event {
  background-color: #E53B51;
}
#venue {
  background-color: #3CB5B5;
}
#area {
  background-color: #EC6C20;
}
#gifting {
  background-color: #FCD920;
}
#rsvp {
  background-color: #E53B51;
}
#rsvp .well {
  background-color: #f64c62;
  border-color: transparent;
}
#rsvp .btn-lg {
  background-color: #3CB5B5;
  border-color: #4dc6c6;
}
.rsvpstep, .rsvpinfo {
  margin-top: 40px;
}

animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}
